body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 400px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="submit"],
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

input[type="text"],
input[type="email"],
input[type="submit"] {
    width: 100%;
}

textarea {
    resize: none;
    height: 150px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="update"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="update"]:hover {
    background-color: #0056b3;
}
